// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: rgb(0, 0, 0);
$yeast: #f7f7f7;
$cowboy: #f8e5e5;
$faintPink: #f9efea;
$grayedOutText:#68625d;
$grayedOutTextLighter:#68655d; 
//mosio combo
$mosioBurly: #dec79b;
$mosioblack: #18181e;
$moreSpaceTextColor:  #6d6d6d;