// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// jquery
@import '~jquery-ui/themes/base/all.css';

//carousel

#slideshow {
    width: 100%; 
    height: 100vh;
    background-color: black;
    padding: 10vh  0px !important;
    div {
        width: 95%;
        margin: auto !important;
        height: 80vh !important;
        img {
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }
}

//colour of carousel dots
.slick-dots li button:before {
    color: white !important;
}

//colour of carousel dot when active
.slick-dots li.slick-active button:before {
    color: blue !important;
}

.slick-active {
    opacity: .5;
}
.slick-current {
    opacity: 1;
}
/*.slick-prev:before, .slick-next:before {
    color: black;
}*/

#page-home {
    min-width: 100Vh !important;
    overflow-y: scroll;
    background-color: white;
}

//About block in HomePage
#about-homepage {
    height: 80vh; 
    color: black; 
    background-color: white;
    #about-inner-container {
        display:flex;
        div #about-text {
            z-index: 1; 
            line-height: 1;
            #about {
                margin-left: 120px;  
                font-size: 3rem; 
            }
            #royalPalms {
                font-size: 3rem; 
                line-height: .9;
            }
        }
        div #description {
            margin-top: 30px;
        }
        div #explore-link {
            border-radius: 40%; 
            border: 2px solid pink; 
            margin-top: 50px; 
            padding: 50px 0px; 
            position: relative; width: 110px; 
            height: 30px;
            a {
                text-decoration: none; 
                position:absolute; 
                left: 30px; 
                width: 160px; 
                top: 30px;
            }
        }
        #image-container {
            height: 80vh; 
            background-color: pink; 
            display:flex; 
            align-items: center; 
            justify-content:center;
            div {
                width: 80%; 
                height: 50vh;
                img {
                    background-size: cover; 
                    height: 100%; 
                    width: 100%;
                }
            }
        }
    }
}
/*End of  About block */

/*Stay block */
#stay-page {
    width: 100%;
    margin-top: 80px;
    height: 80vh; 
    color: black; 
    background-color: white;
    position: absolute;
    #image-div {
        height: 80vh;
        padding-left: 0px !important;
        img {
            height: 80vh;  
            width: 100%;
            background-size: cover;
        }
    }
    #courtyard-room {
        background-color: pink; 
        width: 35%; 
        height: 75%; 
        position:relative; 
        bottom: 70%; 
        left: 40%; 
        #booking-link {
            border-radius: 40%; 
            border: 2px solid brown; 
            margin-top: 10px; 
            padding: 50px 0px; 
            position: relative; 
            width: 110px; 
            height: 30px;
            a {
                text-decoration: none; 
                position:absolute; 
                left: 50%; 
                width: 160px; 
                top: 30%;
            }
        }
    }
}

/* End of Stay block */
#main-page-room-image {
    height: 60vh;
    width: 90vw;
    margin-left: 10vw;
    padding-left: 0px !important;
    margin-top: 700px;
    img {
        height: 60vh;  
        width: 100%;
        background-size: cover;
    }
}

/* Emotions Block */
#new-emotions {
    height: 60vh;
    width: 90vw;
    margin-left: 10vw; 
    margin-top: 50px;
    position: relative; 
    img {
        height: 60vh;  
        width: 100%;
        background-size: cover;
    }
    p {
        position: absolute;
        bottom: 40%;
        font-size: 30px;
        left: 15%;
    }
}

//Eat and drink block in HomePage
#eat-and-drink {
    height: 100vh; 
    color: black; 
    background-color: white;
    margin-top: 50px;
    #eat-inner-container {
        display:flex;
        div #about-text {
            z-index: 1; 
            line-height: 1;
            #about {
                margin-left: 120px;  
                font-size: 3rem; 
            }
            #royalPalms {
                font-size: 3rem; 
                line-height: .9;
            }
        }
        div #description {
            margin-top: 30px;
        }
        #image-container {
            height: 100vh; 
            background-color: pink; 
            display:flex; 
            align-items: center; 
            justify-content:center;
            padding-top: 100px;
            div {
                width: 80%; 
                height: 40vh;
                img {
                    background-size: cover; 
                    height: 100%; 
                    width: 80%;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
    h2 {
        margin-top: 30px;
        font-size: 20px;
    }
}
/*End of Eat and Drink block */

//second carousel

#slideshow-center {
    width: 98%; 
    height: 50vh;
    background-color: black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    div {
        width: 95%;
        margin: auto !important;
        height: 50vh !important;
        img {
            width: 75%;
            height: 100%;
            background-size: cover;
        }
    }
}

// Special offers block starts here
.special-offers-div {
    text-align: center; 
    margin-top: 50px;
    .read-more {
        border: 1px solid pink;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: auto;
        text-align: center; 
        position: relative;
        .read-more-link {
            position: absolute;
            top: 40px;
            right: 10px;
        }
    }
    .special-offers-link {
        text-decoration: none;  
        color: black; 
    }
    .special-offers-link:hover {
        color: blue;
        cursor: pointer;
    }
}
// special offers link ends here

/* about hotel link starts here */
.about-hotel-link {
    margin-top: 50px;
    text-align: center;
    a {
        text-decoration: none;
        color: black;
        font-size: 80px;
    }
    a:hover {
        color: blue;
        cursor: pointer;
    }
}

/* about hotel link starts here */

// Left-sided image starts here
#left-image-homepage {
    height: 60vh;
    width: 90vw;
    padding-left: 0px !important;
    margin: 50px 0px;
    img {
        height: 60vh;  
        width: 100%;
        background-size: cover;
    }
}
// Left-sided image ends here