// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// jquery
@import '~jquery-ui/themes/base/all.css';

//carousel

#slideshow {
    width: 100%; 
    height: 100vh;
    background-color: black;
    padding: 10vh  0px !important;
    div {
        width: 95%;
        margin: auto !important;
        height: 80vh !important;
        img {
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }
}

//colour of carousel dots
.slick-dots li button:before {
    color: white !important;
}

//colour of carousel dot when active
.slick-dots li.slick-active button:before {
    color: blue !important;
}

#page-home {
    min-width: 100Vh !important;
    overflow-y: scroll;
    background-color: white;
}

//About block in HomePage
#about-homepage {
    height: 80vh; 
    color: black; 
    background-color: white;
    #about-inner-container {
        display:flex;
        div #about-text {
            z-index: 1; 
            line-height: 1;
            #about {
                margin-left: 120px;  
                font-size: 3rem; 
            }
            #royalPalms {
                font-size: 3rem; 
                line-height: .9;
            }
        }
        div #description {
            margin-top: 30px;
        }
        div #explore-link {
            border-radius: 40%; 
            border: 2px solid pink; 
            margin-top: 50px; 
            padding: 50px 0px; 
            position: relative; width: 110px; 
            height: 30px;
            a {
                text-decoration: none; 
                position:absolute; 
                left: 30px; 
                width: 160px; 
                top: 30px;
            }
        }
        #image-container {
            height: 80vh; 
            background-color: pink; 
            display:flex; 
            align-items: center; 
            justify-content:center;
            div {
                width: 80%; 
                height: 50vh;
                img {
                    background-size: cover; 
                    height: 100%; 
                    width: 100%;
                }
            }
        }
    }
}
/*End of  About block */

/*Stay block */
#stay-page {
    width: 100%;
    margin-top: 80px;
    height: 80vh; 
    color: black; 
    background-color: white;
    position: absolute;
    #image-div {
        height: 80vh;
        padding-left: 0px !important;
        img {
            height: 80vh;  
            width: 100%;
            background-size: cover;
        }
    }
    #courtyard-room {
        background-color: pink; 
        width: 35%; 
        height: 75%; 
        position:relative; 
        bottom: 70%; 
        left: 40%; 
        #booking-link {
            border-radius: 40%; 
            border: 2px solid green; 
            margin-top: 10px; 
            padding: 50px 0px; 
            position: relative; 
            width: 110px; 
            height: 30px;
            a {
                text-decoration: none; 
                position:absolute; 
                left: 50%; 
                width: 160px; 
                top: 30%;
            }
        }
    }
}

/* End of Stay block */

#main-page-room-image {
    height: 60vh;
    width: 90vw;
    margin-left: 10vw;
    padding-left: 0px !important;
    margin-top: 700px;
    img {
        height: 60vh;  
        width: 100%;
        background-size: cover;
    }
}

/* Eat and drink Block */

//Eat and drink block in HomePage
#eat-and-drink {
    height: 100vh; 
    color: black; 
    background-color: white;
    margin-top: 50px;
    #eat-inner-container {
        display:flex;
        div #about-text {
            z-index: 1; 
            line-height: 1;
            #about {
                margin-left: 120px;  
                font-size: 3rem; 
            }
            #royalPalms {
                font-size: 3rem; 
                line-height: .9;
            }
        }
        div #description {
            margin-top: 30px;
        }
        #image-container {
            height: 100vh; 
            background-color: pink; 
            display:flex; 
            align-items: center; 
            justify-content:center;
            padding-top: 100px;
            div {
                width: 80%; 
                height: 40vh;
                img {
                    background-size: cover; 
                    height: 100%; 
                    width: 80%;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
    h2 {
        margin-top: 30px;
        font-size: 20px;
    }
}
/*End of Eat and Drink block */
