/*
    =======================================
    Error formatting of paywithpaypal page
    ========================================
*/
label.error {
    color: red;
    font-size: 1.5rem !important;
    display: block;
    margin-top: 5px;
}
