@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);@charset "UTF-8";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  font-weight: 400;
  font-family: "Lato", Arial, sans-serif;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

h2,
p,
h3,
h1 {
  color: black;
  position: relative;
  z-index: 1000;
}

/* Content style */

section {
  width: 100vw;
  text-align: justify;
  color: #ecf0f1;
  line-height: 1.3;
  font-size: 1.8em;
}

section p {
  opacity: 0.4;
}

.scroll {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2em;
  line-height: 2;
  width: 10em;
  text-align: center;
  height: 2em;
  color: #e74c3c;
  background: #fff;
  font-style: normal;
  text-transform: uppercase;
  opacity: 0.8;
}

.scroll::after {
  display: block;
  content: "\2193";
  color: #fff;
  font-size: 3em;
  line-height: 1;
}

/* Header styles and animations */

.ha-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 50;
  font-family: "Lato", Arial, sans-serif;
  transform: translateY(0%);
  transition: all 0.5s;
}

.ha-header-perspective {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 1100px;
  perspective-origin: 50% 0;
}

.ha-header-perspective > div {
  background: #fff;
  text-align: left;
  padding: 0 7%;
  height: 50%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: justify;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.5s;
  overflow: hidden;
}

.ha-header-front {
  z-index: 2;
  transform-origin: 50% 100%;
}

.ha-header-perspective .ha-header-bottom {
  background: #ddd;
  transform-origin: 50% 0%;
  z-index: 1;
  transform: rotateX(-90deg);
  transition: top 0.5s;
  position: absolute;
  top: 0;
}

/* Justify inline-block elements (h1 on left side, nav on right) */

.ha-header-perspective > div::after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* Text styling */

.ha-header h1,
.ha-header h1::before,
.ha-header h1 span,
.ha-header nav,
.ha-header nav::before {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.ha-header h1 {
  font-weight: 300;
  font-size: 3.2em;
  margin: 0;
  padding: 0 1em 0 0;
  color: #2d383f;
  cursor: default;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
}

.ha-header h1::before,
.ha-header nav::before {
  content: "";
  height: 100%;
}

.ha-header h1::after {
  content: "";
  width: 100px;
  height: 96px;
  background: #fff;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  cursor: pointer;
  box-shadow: inset 0 8px #2d383f, inset 0 16px #fff, inset 0 24px #2d383f, inset 0 32px #fff, inset 0 40px #2d383f, inset 0 48px #fff, inset 0 56px #2d383f;
  opacity: 0;
  border: 20px solid #fff;
  transition: opacity 0.5s;
}

.ha-header nav {
  height: 100%;
}

.ha-header nav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 0.2em 0.4em;
  margin: 0 0.4em 0;
  font-size: 0.8em;
  cursor: pointer;
  color: #e74c3c;
  outline: none;
  text-decoration: none;
}

.ha-header nav a:hover {
  color: #bc3c2f;
}

.ha-header nav a:last-child {
  margin-right: 0;
}

.ha-header .ha-header-front nav a:first-child,
.ha-header .ha-header-front nav a:last-child {
  border: 2px solid #e74c3c;
}

.ha-header .ha-header-front nav a:first-child:hover,
.ha-header .ha-header-front nav a:last-child:hover {
  border: 2px solid #bc3c2f;
}

/* Individual states */

.ha-header-large {
  height: 420px;
}

.ha-header-small {
  height: 220px;
}

.ha-header-hide {
  height: 220px;
  transform: translateY(-50%);
}

.ha-header-show {
  height: 220px;
  transform: translateY(0%);
}

.ha-header-show .ha-header-bottom {
  opacity: 0;
  transition: top 0.5s, opacity 0s 0.5s;
  transform: rotateX(0deg);
  top: 0%;
}

.ha-header-subshow {
  height: 220px;
}

.ha-header-subshow .ha-header-bottom {
  transition: top 0.5s;
  transform: rotateX(0deg);
  top: 50%;
}

.ha-header-shrink {
  height: 220px;
  top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.ha-header-shrink .ha-header-bottom {
  opacity: 0;
}

.ha-header-rotate {
  height: 220px;
  top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.ha-header-rotate .ha-header-front {
  transform: translateY(-100%) rotateX(90deg);
}

.ha-header-rotate .ha-header-bottom {
  top: 50%;
  transition: transform 0.5s;
  transform: rotateX(0deg) translateY(-100%);
}

.ha-header-rotateBack {
  height: 220px;
  top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.ha-header-rotateBack .ha-header-front {
  transform: translateY(0%) rotateX(0deg);
}

.ha-header-rotateBack .ha-header-bottom {
  top: 50%;
  transition: transform 0.5s;
  transform: rotateX(-90deg);
}

.ha-header-color {
  height: 420px;
}

.ha-header-color .ha-header-front,
.ha-header-color .ha-header-bottom {
  background: #f3796c;
}

.ha-header-color h1,
.ha-header-color nav a {
  color: #fff;
}

.ha-header-box {
  height: 192px;
  width: 100px;
  top: 20px;
  left: 20px;
}

.ha-header-box h1 {
  padding-left: 150px;
}

.ha-header-box h1,
.ha-header-box nav a {
  color: transparent;
}

.ha-header-box h1:after {
  opacity: 1;
}

.ha-header-box nav {
  opacity: 0;
}

.ha-header-fullscreen {
  height: 100%;
  opacity: 0.9;
}

.ha-header-fullscreen .ha-header-front {
  height: 100%;
}

.ha-header-fullscreen .ha-header-bottom {
  opacity: 0;
  transition: top 0.5s, opacity 0s 0.5s;
  transform: rotateX(0deg);
  top: 50%;
  background: #f3796c;
}

.ha-header-subfullscreen {
  height: 100%;
  opacity: 0.9;
}

.ha-header-subfullscreen .ha-header-bottom {
  transition: top 0.5s;
  transform: rotateX(0deg);
  top: 50%;
  background: #f3796c;
}

.ha-header-subfullscreen .ha-header-bottom nav a {
  color: #fff;
}

@media screen and (max-width: 65em) {
  body {
    font-size: 85%;
  }
}

@media screen and (max-width: 60em) {
  .ha-header-perspective > div,
  .ha-header nav {
    text-align: center;
  }

  .ha-header h1 {
    padding: 10px 0;
    height: 60%;
  }

  .ha-header .ha-header-bottom nav {
    padding: 40px 0px;
  }

  .ha-header nav {
    display: block;
    height: auto;
  }
}

@media screen and (max-width: 38em) {
  section {
    font-size: 1.3em;
  }

  .ha-header h1 {
    font-size: 2em;
  }

  .ha-header nav {
    font-size: 60%;
  }
}

/*** About page starts here ***/

.top-image {
  margin-bottom: 80px;
}

.first-effects-div {
  width: 100vw !important;
  margin: 0px;
  padding: 0px;
}

.first-effects-div .first-div-block {
  width: 100%;
  height: 100vh;
  display: flex;
}

.first-effects-div .first-div-block .left-image {
  height: 100%;
  width: 50%;
}

.first-effects-div .first-div-block .left-image img {
  height: 100%;
  width: 100%;
}

.first-effects-div .first-div-block .right-block {
  width: 45%;
  height: 100%;
  position: relative;
}

.first-effects-div .first-div-block .right-block .colored-div {
  height: 50%;
  background-color: pink;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.first-effects-div .first-div-block .right-block .colored-div p {
  position: relative;
  bottom: 120px;
  width: 45%;
  left: 40%;
  font-size: 16px;
}

.second-effects-div {
  width: 100vw !important;
  margin: 0px;
  padding: 0px;
}

.second-effects-div .second-div-block {
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  display: flex;
}

.second-effects-div .second-div-block .left-block {
  width: 50%;
  height: 100%;
  position: relative;
}

.second-effects-div .second-div-block .left-block .left-block-content {
  height: 50%;
  background-color: pink;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  left: 20%;
}

.second-effects-div .second-div-block .left-block .left-block-content p {
  position: relative;
  top: 220px;
  width: 45%;
  left: 10%;
  font-size: 16px;
}

.second-effects-div .second-div-block .right-block {
  height: 100%;
  width: 50%;
}

.second-effects-div .second-div-block .right-block img {
  height: 100%;
  width: 100%;
}

.third-effects-div {
  width: 100vw !important;
  margin: 0px;
  padding: 0px;
}

.third-effects-div .third-div-block {
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  display: flex;
}

.third-effects-div .third-div-block .left-block {
  height: 100%;
  width: 40%;
}

.third-effects-div .third-div-block .left-block img {
  height: 100%;
  width: 100%;
}

.third-effects-div .third-div-block .right-block {
  width: 60%;
  height: 100%;
}

.third-effects-div .third-div-block .right-block .title {
  position: relative;
  bottom: 40px;
  height: 10vh;
  text-align: center;
  font-size: 5rem;
}

.third-effects-div .third-div-block .right-block .title h2 {
  font-size: 4rem;
}

.third-effects-div .third-div-block .right-block .description {
  height: 25vh;
  width: 28%;
  margin-left: 40%;
  text-align: justify;
  font-size: 16px;
}

.third-effects-div .third-div-block .right-block .list-and-block-container {
  display: flex;
  width: 100%;
  height: 65vh;
}

.third-effects-div .third-div-block .right-block .list-and-block-container .list-container {
  width: 30%;
  height: 65vh;
  position: relative;
  bottom: 35px;
}

.third-effects-div .third-div-block .right-block .list-and-block-container .list-container ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.third-effects-div .third-div-block .right-block .list-and-block-container .list-container ul li a {
  font-size: 14px;
}

.third-effects-div .third-div-block .right-block .list-and-block-container .colored-div {
  width: 60%;
  height: 30vh;
  background-color: pink;
  margin-top: 30px;
}

.fourth-effects-div {
  width: 100vw !important;
  margin-bottom: 220px;
  padding: 0px;
  margin-top: 60px;
}

.fourth-effects-div .trip-advisor-container p {
  font-size: 18px;
}

.fifth-effects-div {
  width: 100vw !important;
  height: 100vh;
  padding: 0px;
  position: relative;
  bottom: 150px;
}

.fifth-effects-div .stay-page-inner-container {
  width: 100%;
  height: 100%;
}

.fifth-effects-div .stay-page-inner-container #image-div {
  width: 50%;
  height: 100%;
}

.fifth-effects-div .stay-page-inner-container #image-div img {
  width: 100%;
  height: 100%;
}

.fifth-effects-div .stay-page-inner-container .stay-text {
  width: 50%;
}

.fifth-effects-div .stay-page-inner-container .stay-text .about-award-title {
  position: relative;
  bottom: 17vh;
  right: 3vw;
  font-size: 5vw;
}

.fifth-effects-div .stay-page-inner-container .stay-text p {
  width: 20vw;
  font-size: 18px;
  position: relative;
  left: 10vw;
  bottom: 7vh;
}

.sixth-effects-div {
  width: 100vw !important;
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 100vh;
}

.sixth-effects-div .sixth-div-block {
  display: flex;
  margin-bottom: 70px;
  width: 100%;
  margin-left: 10%;
}

.sixth-effects-div .sixth-div-block .right-block {
  width: 50%;
  height: 100vh;
}

.sixth-effects-div .sixth-div-block .right-block img {
  width: 100%;
  height: 100vh;
}

.sixth-effects-div .sixth-div-block .left-block {
  width: 40%;
  background-color: pink;
  height: 50vh;
  position: relative;
  top: 30vh;
}

.sixth-effects-div .sixth-div-block .left-block .left-block-content {
  width: 200px;
  position: relative;
  top: 10vh;
}

.sixth-effects-div .sixth-div-block .left-block .left-block-content p,
.sixth-effects-div .sixth-div-block .left-block .left-block-content a {
  font-size: 16px;
}

.sixth-effects-div .sixth-div-block .left-block .left-block-title-div {
  position: relative;
  bottom: 45vh;
  left: 18vw;
}

.sixth-effects-div .sixth-div-block .left-block .left-block-title-div h2 {
  font-size: 4vw;
}

.special-offers {
  width: 100%;
}

.special-offers .about-special-offers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special-offers .about-special-offers h2 {
  font-size: 4vw;
}

.slideshow-div {
  width: 100vw !important;
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 100vh;
}

.slideshow-div #slideshow-center {
  width: 98%;
  height: 50vh;
  background-color: black;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.slideshow-div #slideshow-center div {
  width: 95%;
  margin: auto !important;
  height: 50vh !important;
  display: flex;
}

.slideshow-div #slideshow-center div img {
  width: 75%;
  height: 100%;
  background-size: cover;
}

.slideshow-div #slideshow-center .slick-dots li button:before {
  color: white !important;
}

.slideshow-div #slideshow-center .slick-dots li.slick-active button:before {
  color: blue !important;
}

.slideshow-div #slideshow-center .slick-active {
  opacity: 0.5;
}

.slideshow-div #slideshow-center .slick-current {
  opacity: 1;
}

.nineth-content-container {
  width: 100vw;
  padding: 0px;
  height: 30vh;
  position: relative;
  z-index: 1;
  bottom: 250px !important;
}

.nineth-content-container .special-offers-div {
  width: 100%;
  height: 40vh;
}

.nineth-content-container .special-offers-div .about-hotel-svg-container {
  display: inline-block;
  position: relative;
  width: 15vw;
  height: 30vh;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.nineth-content-container .special-offers-div .about-hotel-svg-container .about-hotel-svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.tenth-content-container {
  width: 100vw;
  height: 2vh;
  position: relative;
  bottom: 180px;
}

.tenth-content-container .copy {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  font-size: 16px;
}

#slideshow-about {
  width: 98%;
  height: 50vh;
  background-color: black !important;
  margin-top: 50px;
}

#slideshow-about div {
  width: 95%;
  height: 50vh !important;
  margin-right: 20px;
}

#slideshow-about div img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.dummy-nav {
  height: 0.1px !important;
}

/*** About page Ends here ***/

